<!DOCTYPE html>
<html>
  <head>
    <title>Database Interactions and UI</title>
    <script type="text/javascript" src="/script.js"></script>
  </head>
  <body>
    {{{body}}}

<br><hr><br>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Date</th>
          <th>Units</th>
        </tr>
      </thead>
      <tbody id='results'>
        {{#each context}}
          {{this}}
        {{/each}}
      <tbody>
    </table>
  </body>
</html>