<form method='POST' action='/'>
  <fieldset>
    <legend>POST Form</legend>
    <fieldset>
      <legend>Name</legend>
      <input type='text' id='name' required>
    </fieldset>

    <fieldset>
      <legend>Reps</legend>
      <input type='number' id='reps'>
    </fieldset>

    <fieldset>
      <legend>Weight</legend>
      <input type='number' id='weight'>
    </fieldset>

    <fieldset>
      <legend>Date</legend>
      <input type='date' id='date'>
    </fieldset>

    <fieldset>
      <legend>Units</legend>
      Pounds? <input type='checkbox' id='lbs' value='lbs'>
    </fieldset>

    <br><input type='submit' id='newWorkout'>
  </fieldset>
</form>

<br><hr><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>Date</th>
      <th>Units</th>
    </tr>
  </thead>
  <tbody>
  <tbody>
</table>