<form method="POST" action="/">
  <fieldset>
    <legend>POST Form</legend>
    <fieldset>
      <legend>Name</legend>
      <input type='text' name='name' id='name' required>
    </fieldset>

    <fieldset>
      <legend>Reps</legend>
      <input type='number' name='reps' id='reps'>
    </fieldset>

    <fieldset>
      <legend>Weight</legend>
      <input type='number' name='weight' id='weight'>
    </fieldset>

    <fieldset>
      <legend>Date</legend>
      <input type='date' name='date' id='date'>
    </fieldset>

    <fieldset>
      <legend>Units</legend>
      Pounds? <input type='checkbox' name='lbs' id='lbs'>
    </fieldset>

    <br><input type='submit' id='newWorkout'>
  </fieldset>
</form>